@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body{
  height: 100vh;
  background-color:black;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 2px;
}


main {
  padding: 3.6rem;
  background-color:#ffffff;
  max-width:100%;
  padding-bottom: 52px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  }

.navbar{
  /* width:55rem; */
  height: 6.5rem;
  background-color:lightseagreen;
  display:flex;
  align-items: center;
  color:white;
  padding:2rem;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
   
}
.logo{
  height: 130%;
  margin-left: -0.1rem;


} 

.header--title{
  font-size:6rem;
  margin-right: auto;
  font-family: 'Rubik Iso', cursive;

}


.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--button {
  grid-column: 1 / -1;
 
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-size:large;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background-color:lightseagreen;
  color: white;
  border: none;
  cursor: pointer;
  /* margin-bottom:px; */
  font-size: 2.5rem;
}


.meme {
  position: relative;
  top:20px;

}
.meme--image {
  /* max-width: 100%; */
  /* height: 100%; */
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}